<h2>Home</h2>

<ul class="p-0 m-0">

    {{!-- {{#each posts as |post|}} --}}
    <li class="row py-3">
        <div class="card w-100">
            <div class="card-header">
                <span class="float-left font-weight-bold">{{post.title}}Placeholder Title</span>

                <span class="float-right">
                    Posted by: {{post.user.username}} (Placeholder User) on
                    {{post.created_at}} (Placeholder Time)
                </span>
            </div>

            <div class="card-body">
                <p class="card-text">
                    {{post.post_content}}
                    With supporting text below as a natural lead-in to additional content.
                </p>


            </div>

            {{!-- remove d-none when it is time to comment on this. or... have a container div to put this into when needed... --}}
            <div class="card-footer">
                <div class="border-bottom border-dark p-3">
                    <textarea class="w-100" name="commentInput" placeholder="Write a comment here..."
                        style="height:100px"></textarea>
                    <button type="submit" class="submitComment btn btn-primary w-100">Add Comment</button>
                </div>


                {{!-- past comments --}}
                <div class="p-3 ">
                    <h3>Comments:</h3>
                    <ul class="p-0 m-0">
                        {{!-- {{#each comment as |comment|}} --}}
                        <li class="row border border-dark rounded-lg my-3 px-3 pt-2">
                            <div class="Container-fluid">
                                <p class="font-weight-bold">{{comment.comment_title}}Test Title</p>

                                <p>{{comment.comment_content}} test content</p>
                            </div>
                        </li>

                        <li class="row border border-dark rounded-lg my-3 px-3 pt-2">
                            <div class="Container-fluid">
                                <p class="font-weight-bold">{{comment.comment_title}}Test Title</p>

                                <p>{{comment.comment_content}} test content</p>
                            </div>
                        </li>
                        {{!-- {{/each}} --}}
                    </ul>
                </div>
            </div>
        </div>
    </li>
    {{!-- {{/each}} --}}

</ul>

{{!-- 
<a href="{{post.post_url}}" target="_blank">{{post.title}}</a>

<a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a> 
--}}